// Non-modular or client styles for .l-footer region.


.l-footer {}
.l-footer-columns {}

.nysm-footer {@include background-image(linear-gradient(to bottom right, scale-color($nysm_blue, $lightness: -20%), scale-color($nysm_blue, $lightness: -30%)));margin-top:4em; padding:2rem 0 2rem 0;
	color:white;
	p{font-size:.8rem;}
	a{color:white;}
	h2{color:white;}
	.nysed-credit p{ font-size:.7rem;}
}
