// Non-modular or client styles for .l-header region.

.l-header {
  @media #{$small-only}{background:#545454; }}

 .logo {
  margin: 0 auto;
  padding:0;
 @media #{$medium-up}{padding: 8px 0px 4px 0px; }
 }

 .small-wordmark {
  margin: 0 auto;
  padding:0;
  float:left;
  width:75px;
 }

.mobilenav {
  button {  @media #{$small-only}{margin: 0; }}
}
