.banner-image { position:relative; width:100%;
.pagesubnav {width:100%; position:absolute; bottom:0; background-color:rgba(100, 100, 100, 0.80);

.sub-nav {  max-width: 1100px;  margin: 0 auto !important; margin:0; padding-top:0; padding-bottom:10px;}

 // .mid-nav {min-height:26px; background:$nysm-blue;   }
.exhibitions {background-color:red; width:100%}
}
}

.pane-superfish {
  h2{margin-bottom:0;
    font-size:emCalc(16);
    text-transform: uppercase;
    border-bottom:1px #cdcdcd solid;
    color:#454545;
  }
}

.sf-vertical{
width:100%;
  li {
  	width:100%;
  	margin:0 0 9px 0;
    padding: 0 0 9px 0;
    text-transform: capitalize;
    font-size:emCalc(13);
    border-bottom:1px solid #e2e2e2;
    
    &.first{
      a {font-size:emCalc(17);
        font-weight: bold;
        text-transform: uppercase;
        color:#454545;
        padding-bottom:6px;
        } }
 
    &:not(.first).active-trail {a {color:$nysm_blue;}}
    &.last {}

    &:hover ul,
    &.sfHover ul {
    text-decoration: underline;
    }

    a {
      padding: 0 0;
      color:#656565;
      &:hover {color:$nysm_blue;}
    }
  }
}

.sub-nav ul {
	margin-bottom: rem-calc(10);
}


// Top Bar
//--------------------------------------------------
.nysmnav {
 background: white image-url('menu-shadow.png') bottom repeat-x !important;
  border-top: 1px solid $nysm_yellow;
  padding-bottom: 4px;
//  margin-bottom:-4px;
}

.top-bar {
  .title-area {}



  ul.main-nav li {
    border-right:1px dotted #fbfbfb;
    &.last {border-right:none;}
    & a{
  	 padding-bottom:-2px;
  	 border-bottom: 2px solid transparent;
      @include transition-property(border);
      @include transition-duration(.2s); 
      @include transition-timing-function(ease-in);
  	   &:hover {
  		  border-bottom: 2px solid $nysm_blue;
  	   }
    // Apply the active link color when it has that class
    &.active {
      border-bottom: 2px solid $nysm_blue;
      background:none;
      color:#545454;
      }
    &.active-trail {border-bottom: 2px solid $nysm_blue;}
    
   
    } ul.dropdown {
      li {
      a.active{border-bottom:none;}}
    }

  }

}
