.banner-image { position:relative; width:100%; overflow:hidden;
 
      
  .pane-title {position:absolute; top:15px; width:100%; 
    
    .section-heading{max-width: 1000px;  margin: 0 auto !important; margin:0;}
  }
    img { flex-shrink:0;
    min-width:100%;
    height:auto;}
      .pagesubnav {width:100%; position:absolute; bottom:-1px; background:rgba(256, 256, 256, 0.0) image-url('menu-shadow.png') bottom repeat-x !important;
      

      h2.pane-title {display:none;}


    .menu-name-main-menu {max-width: 1050px;  margin: 0 auto !important; margin:0; padding:12px 0;
      li a { @media #{$medium-only}{font-size:.9rem;}
  @media #{$large-up}{font-size:1rem;}
  @media (min-width: 641px) and (max-width: 757px) {font-size:.75rem;}}
    //  .exhibitions {background-color:red; width:100%}
    }
  }
}

.panels-ipe-editing {.banner-image{position:static; .pagesubnav {position:static; .menu-name-menu-research-collections {background-color:#777;}}}}

.node-type-research-project {
  .pagesubnav {
    ul.menu{
      li.research a{
      background: $sub-nav-active-bg;
      color: $sub-nav-active-color;
      border-left:none;
        &:hover {
        background: $sub-nav-active-bg-hover;
      }


      }
    }
  }
}

.node-type-press-release {
  .pagesubnav {
    ul.menu{
      li.press a{
        background: $sub-nav-active-bg;
      color: $sub-nav-active-color;
      border-left:none;
        &:hover {
        background: $sub-nav-active-bg-hover;
      }}
    }
  }
}

.page-user  {
   .pagesubnav {
    ul.menu{
      li.contact a{background: $sub-nav-active-bg;
      color: $sub-nav-active-color;
      border-left:none;
        &:hover {
        background: $sub-nav-active-bg-hover;
      }
    }
    }
  }
}

.node-type-collection, .collections-term-page, .extended-collections-list  {
   .pagesubnav {
    ul.menu{
      li.collection a{
        background: $sub-nav-active-bg;
      color: $sub-nav-active-color;
      border-left:none;
        &:hover {
        background: $sub-nav-active-bg-hover;
      }}
    }
  }
}

.ongoing_exhibitions {
  .pagesubnav {
    ul.menu{
      li.ongoing a{background: $sub-nav-active-bg;
      color: $sub-nav-active-color;
      border-left:none;
        &:hover {
        background: $sub-nav-active-bg-hover;
      }}
    }
  }
}

.current_exhibitions {
  .pagesubnav {
    ul.menu{
      li.current a{background: $sub-nav-active-bg;
      color: $sub-nav-active-color;
      border-left:none;
        &:hover {
        background: $sub-nav-active-bg-hover;
      }}
    }
  }
}

.past_exhibitions {
  .pagesubnav {
    ul.menu{
      li.past a{background: $sub-nav-active-bg;
      color: $sub-nav-active-color;
      border-left:none;
        &:hover {
        background: $sub-nav-active-bg-hover;
      }}
    }
  }
}

//.page-taxonomy-term {
//   .pagesubnav {
 //   ul.menu{
  //    li.department {@extend .active;}
 //   }
 // }
// }

.node-type-article{
   .pagesubnav {
    ul.menu{
      li.news a{background: $sub-nav-active-bg;
      color: $sub-nav-active-color;
      border-left:none;
        &:hover {
        background: $sub-nav-active-bg-hover;
      }}
    }
  }
}

// Top Bar
//--------------------------------------------------
.nysmnav {
 //background: rgba(256, 256, 256, 0.25)  image-url('menu-shadow.png') bottom repeat-x !important;
 border-top:1px solid $nysm_yellow;
//  padding-bottom: 4px;
//  margin-bottom:-4px;
}


  

  ul.main-nav li {
    border-right:1px dotted #fbfbfb;
    &.last {border-right:none;}
    & a{
  	 padding-bottom:-2px;
  	 border-bottom: 2px solid transparent;
      
  	   &:hover {
  		  border-bottom: 2px solid $nysm_blue;
  	   }
    // Apply the active link color when it has that class
    &.active {
      border-bottom: 2px solid $nysm_blue;
      background:none;
      color:#545454;
      }
    &.active-trail {border-bottom: 2px solid $nysm_blue;}
    
   
    } 

  }

.tb-megamenu-main-menu{ .nav-collapse{  @include containment();  }}
