.section-publications, .section-research-collections {
    nav.top-bar{ 
    	li#researchcollection {a.researchcollection {@extend .active-trail;}}
	}
}

//.page-taxonomy-term-42, .page-taxonomy-term-70, .page-research-collections-archaeology {
 // .main-body {
  //h2 a, h4, h3{color:$anthropology;}
 // a {color:$anthropology;}
//	}
//}

.view-contributor {
	.contributor {margin:2em 0;
		.field-name-ds-user-picture {margin-top:1em;}
		.field-name-field-research-state p {margin: 0 0 .5em 1em; border-bottom: 1px solid #fff; }
		.researchtitle{font-weight: bold;font-size:emCalc(12); margin-left:1em;}
		.my-research {  margin-left:2em; 
			.views-row {margin-top:6px;}
		}
	}
}

.research-projects-list, .collections-list, .view-display-id-department_list {
	h3{@include nysm-title(16, 0)}
	.views-row{ @include nicebox(.5em, 1em);
	h2{@include nysm-title(16, 0)}
	
	.field-name-display-name-and-job-title{ font-size:emCalc(14); line-height:1rem; color:#444;}
	.field-name-project-manager{font-size:emCalc(14); color:#444; 
		.manager_name{ display:inline; }}
	p{ margin:.7em 0 0 0 ; font-size: emCalc(14);
		a.more-link {font-size:.8rem;}	
		}
	}
}

.view-display-id-department_staff_list {
	.views-row{ @include nicebox(.5em, 1em);}
}


.research-projects-thumb, .collections-list-thumb { 
	.views-row {@include nicebox(.5em, 0);
	h2{@include nysm-title(16, 0)}
	.field-name-display-name-and-job-title{ font-size:emCalc(13); line-height:1rem; color:#444;  }
	.field-name-project-manager{font-size:emCalc(13); color:#444; 
		.manager_name{display:inline; }}
	p{ margin:.7em 0 0 0 ; font-size: emCalc(13);
		a.more-link {font-size:.8rem;}	
		}
	.bottom-pane {padding:.5em; background:rgba(200, 200, 200, .6);}
	}
}




.research-dept {
	.staff-extended-list {@include nicebox(.5em, 1em);
	.field-name-field-displayed-name{@extend h3; margin-bottom:-3px}
	.field-name-field-nysmjob-title{; margin:.3em 0; line-height:1rem; margin-top:5px; color:#444;  }
	.field-name-field-education-background p{font-size:emCalc(12);}
}
}
//.pane-term-description {@include nysm-title(15, 0)}
.pane-contributor {

}

.field-name-field-collection-type { ul {list-style-type:none; margin-left:0;}  }

.page-taxonomy-term-25 { .view-departments {.view-header{@include nicebox(.5em, .1em); p{@extend h2;}}} }