.view-contributor {
	.contributor {margin:2em 0;
	.field-name-ds-user-picture {margin-top:1em;}
	.field-name-field-research-state p {margin: 0 0 .5em 1em; border-bottom: 1px solid #fff; }
	.researchtitle{font-weight: bold;font-size:emCalc(12); margin-left:1em;}

	.my-research {  margin-left:2em; 
		.views-row {margin-top:6px;}
	}
	}
}