// Docs: http://foundation.zurb.com/docs/components/forms.html

// Drupal specific classes
// ----------------------------------------------------------------------------
.form-text {}
.form-submit {}

.entitytype-test_form-form {
.tabledrag-toggle-weight-wrapper {display:none;}

fieldset.form-wrapper {margin:0; padding:0;
	.container-inline-date { width:100%;
		.description {display:none;}}
}
#field-datetime-values legend {display:none;}
}

form {
	.tabledrag-toggle-weight-wrapper {display:none;}
	.field-multiple-table{
		td.field-multiple-drag {display:none;}

	}
}