
.jcarousel-nysm {
  text-align: center;
  margin:1em 0;
}

.jcarousel-nysm .jcarousel-container-horizontal {
  width: 100%;
  height: 125px;
  /* padding: 20px 40px; */
  margin: auto;
}

.jcarousel-nysm .jcarousel-container-vertical {
  width: 102px;
  height: 440px;
  padding: 40px 20px;
  margin: auto;
}

.jcarousel-nysm .jcarousel-clip-horizontal {
  width: 440px;
  overflow: hidden;
}

.jcarousel-nysm .jcarousel-clip-vertical {
  height: 440px;
  overflow: hidden;
}

.jcarousel-nysm .jcarousel-item {
  padding: 0;
  width: 125px;
  height: 125px;
  overflow: hidden;
  border: 1px solid #CCC;
  list-style: none;
  background: #fff none;
}

.jcarousel-nysm .jcarousel-item-horizontal {
  margin: 0 4px;
}

.jcarousel-nysm .jcarousel-item-vertical {
  margin: 4px 0;
}

.jcarousel-nysm .jcarousel-item-placeholder {
  background: #fff image-url('throbber.gif')no-repeat center center;
  color: #000;
}

/**
 * Buttons
 */
.jcarousel-nysm .jcarousel-next,
.jcarousel-nysm .jcarousel-prev {
  display: block;
  width: 32px;
  height: 32px;
  background-image: image-url('arrows.png');
}

.jcarousel-nysm .jcarousel-next-disabled,
.jcarousel-nysm .jcarousel-prev-disabled {
  display: none;
}

/**
 * Horizontal Buttons
 */
.jcarousel-nysm .jcarousel-prev-horizontal {
  position: absolute;
  top: 50px;
  left: -40px;
  background-position: -64px 0;
}
.jcarousel-nysm .jcarousel-prev-horizontal:hover {
  background-position: -32px 0;
}
.jcarousel-nysm .jcarousel-prev-horizontal:active {
  background-position: -64px 0;
}

.jcarousel-nysm .jcarousel-next-horizontal {
  position: absolute;
  top: 50px;
  right: -40px;
  background-position:-64px -32px;
}
.jcarousel-nysm .jcarousel-next-horizontal:hover {
  background-position: -32px -32px;
}
.jcarousel-nysm .jcarousel-next-horizontal:active {
  background-position: -64px -32px;
}

/**
 * Vertical Buttons
 */
.jcarousel-nysm .jcarousel-prev-vertical {
  position: absolute;
  top: 10px;
  left: 55px;
  background-position: 0 -64px;
}
.jcarousel-nysm .jcarousel-prev-vertical:hover {
  background-position: -32px -64px;
}
.jcarousel-nysm .jcarousel-prev-vertical:active {
  background-position: -64px -64px;
}

.jcarousel-nysm .jcarousel-next-vertical {
  position: absolute;
  bottom: 10px;
  left: 55px;
  background-position: 0 -96px;
}
.jcarousel-nysm .jcarousel-next-vertical:hover {
  background-position: -32px -96px;
}
.jcarousel-nysm .jcarousel-next-vertical:active {
  background-position: -64px -96px;
}

.jcarousel-nysm .jcarousel-navigation {
  margin: 0;
  padding: 0;
}

.jcarousel-nysm .jcarousel-navigation li {
  display: inline;
  margin: 0 2px 0 0;
  padding: 0;
  background: none;
}

.jcarousel-nysm .jcarousel-navigation li.active a {
  font-weight: bold;
  text-decoration: none;
}


